<div class="row">
    <div class="col s12 l12 m12">
        <h5><strong>RRDs</strong></h5>
    </div>
</div>

<form id="rrd-form">{% csrf_token %}
<input type="hidden" id="{{ rrd.guarnicao.auto_id }}_rrd" name="{{ rrd.guarnicao.name }}" value="{{ guarnicao.id }}" />
<div class="row">
    <div class="input-field col l5 m6 s12">
        <input type="text" class="validate" id="{{ rrd.codigo.auto_id }}_rrd" maxlength="20" name="{{ rrd.codigo.name }}" required>
        <label for="{{ rrd.codigo.auto_id }}_rrd" class="active">{{ rrd.codigo.label }}</label>
    </div>
    <div class="col l3 m6 s12">
        <label>{{ rrd.tipoveiculo.label }}</label>
        <select class="browser-default" name="{{ rrd.tipoveiculo.name }}" id="{{ rrd.tipoveiculo.auto_id }}_rrd">
            {% for opcao in rrd.tipoveiculo %}
                <option value="{{ opcao.data.value }}">{{ opcao.choice_label }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    <div class="col l12 m12 s12">
        <div class="input-field row l12 m12 s12">
            <button class="btn waves-effect waves-light right" type="submit">Adicionar
            <i class="material-icons left">add</i>
            </button>
        </div>
    </div>
</div>
</form>

{% block javascript %}
<script>
$(document).ready(function(){
    {% include 'gestao/includes/js/rrds.js' %}
});
</script>
{% endblock javascript %}