{% extends "base/base.html" %}
{% load static %}
{% load ropd_extras %}

{% block title %}OPOs{% endblock %}

{% block content %}
<style>
    .short-text { display: none; }

    @media (max-width: 450px) {
        .short-text { display: inline-block; }
        .full-text { display: none; }
    }
    table.highlight>tbody>tr.pendente:hover {
        background-color: #ffebee;
    }
    table.highlight>tbody>tr.pendente {
        color: #e53935;
    }
</style>
<div class="col s12 m12 l12">
    <div class="row">
        <div class="card darken-1 col l12 m12 s12">
            <div class="card-content text-darken-4 grey-text">
                <span class="card-title">
                    <div class="row">
                        OPOs
                        {% if request.user|has_group:"CPO" %}
                            <a href="{% url 'opo:adicionar_opo' %}">
                                <button style="float: right;" class="btn waves-effect waves-light">
                                    <i class="material-icons right">add</i>
                                    <span class="full-text">Inserir OPO</span>
                                    <span class="short-text">Inserir</span>
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </span>

                <div class="divider"></div>

                <div class="card grey lighten-5">
                    <div class="card-content white-text">
                        <span class="card-title black-text">
                            <strong>Filtrar</strong>
                            {% if filtros %}
                                {% for x, v in filtros.items %}
                                    <div class="chip">
                                        {{ v }}
                                        <label>{{ x }}</label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </span>

                        <form method="GET">
                            <div class="row l12 m12 s12">
                                <div class="input-field col l2 m6 s12">
                                    <input type="text" id="id_numeroopo" name="numeroopo" />
                                    <label for="id_numeroopo" class="active">Número da OPO</label>
                                </div>

                                <div class="col l3 m6 s12">
                                    <label>Status</label>
                                    <select class="browser-default" name="status">
                                        <option value="" selected>---------</option>
                                        {% for x, y in status %}
                                            {% if x == request.GET.status %}
                                                <option value="{{ x }}" selected>{{ y }}</option>
                                            {% else %}
                                                <option value="{{ x }}">{{ y }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
        
                                <div class="input-field col l2 m6 s6">
                                    <input type="text" id="id_datainicio" class="datepicker" name="datainicio" placeholder="dd/mm/aaaa" />
                                    <label for="id_datainicio" class="active">Data início</label>
                                </div>
                                <div class="input-field col l2 m6 s6">
                                    <input type="text" id="id_datatermino" class="datepicker" name="datatermino" placeholder="dd/mm/aaaa" />
                                    <label for="id_datatermino" class="active">Data termino</label>
                                </div>
                            </div>

                            <div class="row l12 m12 s12 right-align">
                                <button class="btn waves-effect waves-light" id="id_clear_reload_filter" type="reset">Limpar
                                    <i class="material-icons left">cancel</i>
                                </button>
                                <button class="btn waves-effect waves-light" type="submit">Pesquisar
                                    <i class="material-icons left">search</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                {% if opos %}
                <table class="highlight responsive-table centered">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Título</th>
                            <th>Local</th>
                            <th>Solicitante</th>
                            <th>Data de solicitação</th>
                            {% if request.user|has_group:"CPO" %}
                            <th>Designado</th>
                            {% endif %}
                            <th>Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for opo in opos %}
                        <tr{% for x in opo.oporelatorio_set.all|dictsort:'status' %}{% ifchanged %}{% if x.status == "pendente" %} class="pendente"{% endif %}{% endifchanged %}{% endfor %}>
                            <td>{{ opo.numeroopo }}</td>
                            <td>{{ opo.titulo }}</td>
                            <td>{{ opo.local }}</td>
                            <td>{{ opo.solicitantenome }}</td>
                            <td>{{ opo.datasolicitacao }}</td>
                            {% if request.user|has_group:"CPO" %}
                            <td>{{ opo.get_designado_display }}</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'opo:visualizar_opo' id=opo.id %}" class="btn waves-effect waves-light btn-floating">
                                    <i class="material-icons right">description</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if opos.has_other_pages %}
                    <ul class="pagination center">
                        {% if opos.has_previous %}
                            <li class="waves-effect">
                                <a href="{% my_url opos.previous_page_number 'pagina' request.GET.urlencode %}">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#!"><i class="material-icons">chevron_left</i></a>
                            </li>
                        {% endif %}

                        {% if opos.number|add:'-4' > 1 %}
                            <li><a href="{% my_url opos.number|add:'-5' 'pagina' request.GET.urlencode %}">&hellip;</a></li>
                        {% endif %}

                        {% for num in opos.paginator.page_range %}
                            {% if opos.number == num %}
                                <li class="active">
                                    <a href="#!">{{ num }}</a>
                                </li>
                            {% elif num > opos.number|add:'-5' and num < opos.number|add:'5' %}
                                <li class="waves-effect">
                                    <a href="{% my_url num 'pagina' request.GET.urlencode %}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if opos.paginator.num_pages > opos.number|add:'4' %}
                            <li><a href="{% my_url opos.number|add:'-5' 'pagina' request.GET.urlencode %}">&hellip;</a></li>
                        {% endif %}

                        {% if opos.has_next %}
                            <li class="waves-effect">
                                <a href="{% my_url opos.next_page_number 'pagina' request.GET.urlencode %}">
                                    <i class="material-icons">chevron_right</i></a>
                                </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#!"><i class="material-icons">chevron_right</i></a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% else %}
                    <p>Não existem OPOs cadastradas.</p>
                {% endif %}
            </div>
            
            <div class="col l12 m12 s12">
                <div class="input-field row l12 m12 s12 left">
                    <button class="btn waves-effect waves-light" onclick="history.go(-1)">Voltar
                        <i class="material-icons left">arrow_back</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascript %}
<script>
$(document).ready(function(){
    var buttonReset = $("#id_clear_reload_filter");

    buttonReset.attr("disabled", "");

    buttonReset.on("click", () => reload());

    function reload(){
        window.location = window.location.pathname;
    }

    if($(".chip").length){
        buttonReset.removeAttr("disabled");
    }
});
</script>
{% endblock javascript %}
{% endblock content %}
