{% load static %}
<nav class="#0d47a1 blue darken-4">
    <div class="navbar-fixed nav-wrapper">
        <a href="{% url 'index' %}" class="brand-logo center">ROP-E</a>
        <a data-target="slide-out" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right">
            <li>
                <a href="{% url 'auth:sair' %}" class="waves-effect right">
                    <i class="material-icons right">exit_to_app</i>Sair
                </a>
            </li>
        </ul>
    </div>
</nav>