{% extends "opo/edits/base.html" %}

{% block title %}Editar Observação da OPO {{ opo.id }}{% endblock title %}

{% block content %}
<form id="edit-opo">{% csrf_token %}
<input type="hidden" name="id_observacao" value="{{ opo.observacao.id }}" />
<div class="col s12 m12 l12">
    <div class="row">
        <div class="card darken-1 col l12 m12 s12">
            <div class="card-content text-darken-4 grey-text">
                <div class="card-title">Editar dados de solicitação OPO &lt;{{ opo.numeroopo }} - {{ opo.titulo }}></div>

                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <textarea class="materialize-textarea" id="id_observacao" name="observacao" required>{{ opo.observacao }}</textarea>
                        <label for="id_observacao">Observação</label>
                    </div>
                </div>
            </div>

            <div class="col l6 m6 s6 right">
                <div class="input-field row">
                    <button class="btn waves-effect waves-light right" type="submit">Atualizar
                        <i class="material-icons right">check</i>
                    </button>
                    </form>
                </div>
            </div>
            <div class="col l6 m6 s6 left">
                <div class="input-field row">
                    <button class="btn waves-effect waves-light" onclick="window.close();">Cancelar
                        <i class="material-icons left">cancel</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    
    $("#edit-opo").submit(function(event){
        event.stopPropagation();
        $.ajax({
            type: "POST",
            url: "{% url 'opo:post_edit_observacaoopo' %}",
            data: $(this).serialize(),
            success: (response) => {
                M.toast({html: response.message, classes: "green", completeCallback: callBack});
            },
            error: (response) => {
                var erros = jQuery.parseJSON(response.responseText);
                for(i in erros){
                    M.toast({html: erros[i], classes: "red"});
                }
            }
        });
        return false;
    });
});
</script>
{% endblock content %}
