{% extends "opo/edits/base.html" %}

{% block title %}Editar dados de solicitação OPO {{ id }}{% endblock title %}

{% block content %}
<form id="edit-opo">{% csrf_token %}
<input type="hidden" name="id_opo" value="{{ id }}" />
<div class="col s12 m12 l12">
    <div class="row">
        <div class="card darken-1 col l12 m12 s12">
            <div class="card-content text-darken-4 grey-text">
                <div class="card-title">Editar dados de solicitação OPO &lt;{{ objeto.numeroopo }} - {{ objeto.titulo }}></div>

                <div class="row">
                    <div class="input-field col l5 m6 s12">
                        <input type="text" class="validate" value="{{ opo.solicitantenome.value }}" id="{{ opo.solicitantenome.auto_id }}" maxlength="100" name="{{ opo.solicitantenome.name }}" required>
                        <label for="{{ opo.solicitantenome.auto_id }}">{{ opo.solicitantenome.label }}</label>
                    </div>
                    <div class="input-field col l3 m6 s12">
                        <input type="text" value="{% if opo.solicitantecontato.value is not None %}{{ opo.solicitantecontato.value }}{% endif %}" id="{{ opo.solicitantecontato.auto_id }}" maxlength="80" name="{{ opo.solicitantecontato.name }}">
                        <label for="{{ opo.solicitantecontato.auto_id }}">{{ opo.solicitantecontato.label }}</label>
                    </div>
                    <div class="input-field col l4 m6 s12">
                        <input type="text" class="validate" value="{{ opo.local.value }}" id="{{ opo.local.auto_id }}" maxlength="255" name="{{ opo.local.name }}" required>
                        <label for="{{ opo.local.auto_id }}" class="active">{{ opo.local.label }}</label>
                    </div>
                    <div class="input-field col l2 m6 s12">
                        <input type="text" class="validate" value="{{ opo.datainicio.value|date:'d/m/Y H:i' }}" disabled id="datetime" name="{{ opo.datainicio.name }}" required>
                        <label for="datetime" class="active">{{ opo.datainicio.label }}</label>
                    </div>
                    <div class="input-field col l2 m6 s12">
                        <input type="text" class="validate" value="{{ opo.datatermino.value|date:'d/m/Y H:i' }}" disabled id="datetime1" name="{{ opo.datatermino.name }}" required>
                        <label for="datetime1" class="active">{{ opo.datatermino.label }}</label>
                    </div>
                </div>
            </div>

            <div class="col l6 m6 s6 right">
                <div class="input-field row">
                    <button class="btn waves-effect waves-light right" type="submit">Atualizar
                        <i class="material-icons right">check</i>
                    </button>
                    </form>
                </div>
            </div>
            <div class="col l6 m6 s6 left">
                <div class="input-field row">
                    <button class="btn waves-effect waves-light" onclick="window.close();">Cancelar
                        <i class="material-icons left">cancel</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    MaterialDateTimePicker.create($('#datetime1'));
    
    $("#edit-opo").submit(function(event){
        event.stopPropagation();
        $.ajax({
            type: "POST",
            url: "{% url 'opo:post_edit_dadossolicitacaoopo' %}",
            data: $(this).serialize(),
            success: (response) => {
                M.toast({html: response.message, classes: "green", completeCallback: callBack});
            },
            error: (response) => {
                var erros = jQuery.parseJSON(response.responseText);
                for(i in erros){
                    M.toast({html: erros[i], classes: "red"});
                }
            }
        });
        return false;
    });
});
</script>


<script>
    var i18n_datepicker = {
    today: 'Hoje',
    cancel: 'Cancelar',
    clear: 'Limpar',
    done: 'Ok',
    nextMonth: 'Próximo mês',
    previousMonth: 'Mês anterior',
    weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
    weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
    weekdays: ['Domingo', 'Segunda-Feira', 'Terça-Feira', 'Quarta-Feira', 'Quinta-Feira', 'Sexta-Feira', 'Sábado'],
    monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
    months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
}

/*!
 * Fawad Tariq (http://github.com/fawadtariq)
 * Materialize Date Time Picker v0.1.1-beta
 * Based on Materialize (http://materializecss.com)
 */
var MaterialDateTimePicker = {
    control: null,
    dateRange: null,
    pickerOptions: null,
    create: function(element){
        this.control = element == undefined? $('#' + localStorage.getItem('element')) : element;
        element = this.control;
        if(this.control.is("input[type='text']")) {
            var defaultDate = new Date();
            element.off('click');
            element.datepicker({
                showDaysInNextAndPreviousMonths: true,
                format: 'dd/mm/yyyy',
                container: 'body',
                i18n: i18n_datepicker,
                selectMonths: true,
                dismissable: false,
                autoClose: true,
                onClose: function() {
                    element.datepicker('destroy');
                    element.timepicker({
                        i18n: {
                            cancel: 'Cancelar',
                            clear: 'Limpar',
                            done: 'Ok'
                        },
                        container: 'body',
                        dismissable: false,
                        twelveHour: false,
                        vibrate: true,
                        onSelect: function(hr, min){
                            element.attr('selectedTime', (hr + ":" + min).toString());
                        },
                        onCloseEnd: function(){
                           element.blur();
                       }
                    });
                    $('button.btn-flat.timepicker-close.waves-effect')[0].remove();
                    
                    if(element.val() != "") {
                        element.attr('selectedDate', element.val().toString());
                    } else {
                        element.val(defaultDate.getFullYear().toString() + "/" + (defaultDate.getMonth() + 1).toString() + "/" + defaultDate.getDate().toString())
                        element.attr('selectedDate', element.val().toString());
                    }
                    element.timepicker('open');
                }
            });
            element.unbind('change');
            element.off('change');
            element.on('change', function(){
                if(element.val().indexOf(':') > -1){
                    element.attr('selectedTime', element.val().toString());
                    element.val(element.attr('selectedDate') + " " + element.attr('selectedTime'));
                    element.timepicker('destroy');
                    element.unbind('click');
                    element.off('click');
                    element.on('click', function(e){
                        element.val("");
                        element.removeAttr("selectedDate");
                        element.removeAttr("selectedTime");
                        localStorage.setItem('element', element.attr('id'));
                        MaterialDateTimePicker.create.call(element);
                        element.trigger('click');
                    });
                }
            });
            $('button.btn-flat.datepicker-cancel.waves-effect, button.btn-flat.datepicker-done.waves-effect').remove();
            this.addCSSRules();
            return element;
        } else {
            console.error("The HTML Control provided is not a valid Input Text type.")
        }
    },
    addCSSRules: function(){
        $('html > head').append($('<style>div.modal-overlay { pointer-events:none; }</style>'));
    },
}

$(document).ready(function() {
    M.AutoInit();
    var DateField = MaterialDateTimePicker.create($('#datetime'));
});
</script>
{% endblock content %}
