{% extends "base/base.html" %}
{% load static %}
{% load ropd_extras %}

{% block title %}RATs{% endblock %}

{% block content %}
<style>
    table.highlight>tbody>tr.pendente:hover {
        background-color: #ffebee;
    }
    table.highlight>tbody>tr.pendente {
        color: #e53935;
    }
</style>
<div class="col s12 m12 l12">
    <div class="row">
        <div class="card darken-1 col l12 m12 s12">
            <div class="card-content text-darken-4 grey-text">
                <span class="card-title">RATs</span>
                
                <div class="divider"></div>

                <div class="card grey lighten-5">
                    <div class="card-content white-text">
                        <span class="card-title black-text">
                            <strong>Filtrar</strong>
                            {% if filtros %}
                                {% for x, v in filtros.items %}
                                    <div class="chip">
                                        {{ v }}
                                        <label>{{ x }}</label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if checkbox %}
                                {% for value in checkbox %}
                                    <div class="chip">{{ value }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>

                        <form method="GET">
                            <div class="row l12 m12 s12">
                                <div class="input-field col l1 m6 s12">
                                    <input type="text" id="id_id_exato" name="id_exato" />
                                    <label for="id_id_exato" class="active">Número</label>
                                </div>
                                <div class="col l2 m6 s12">
                                    <label>Tipo de acidente</label>
                                    <select class="browser-default" name="tipoacidente">
                                        <option value="" selected>---------</option>
                                        {% for tipoacidente in tipoacidentes %}
                                            {% if tipoacidente.id == request.GET.tipoacidente %}
                                                <option value="{{ tipoacidente.id }}" selected>{{ tipoacidente }}</option>
                                            {% else %}
                                                <option value="{{ tipoacidente.id }}">{{ tipoacidente }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col l3 m6 s12">
                                    <label>Município</label>
                                    <select class="browser-default" name="municipio">
                                        <option value="" selected>---------</option>
                                        {% for municipio in municipios %}
                                            {% if municipio.codigo_ibge == request.GET.municipio %}
                                                <option value="{{ municipio.codigo_ibge }}" selected>{{ municipio }}</option>
                                            {% else %}
                                                <option value="{{ municipio.codigo_ibge }}">{{ municipio }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-field col l2 m6 s12">
                                    <input type="text" id="id_placa" name="placa" />
                                    <label for="id_placa" class="active">Placa</label>
                                </div>
                                <div class="input-field col l2 m6 s6">
                                    <input type="text" id="id_data_inicial" class="datepicker" name="data_inicial" placeholder="dd/mm/aaaa" />
                                    <label for="id_data_inicial" class="active">Data inicial</label>
                                </div>
                                <div class="input-field col l2 m6 s6">
                                    <input type="text" id="id_data_final" class="datepicker" name="data_final" placeholder="dd/mm/aaaa" />
                                    <label for="id_data_final" class="active">Data final</label>
                                </div>

                                <div class="col l3 m4 s12">
                                    <label>
                                        <input type="checkbox" class="filled-in" id="fill_envolvido" name="envolvidos" />
                                        <span>Envolvidos</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col s12 m6 l4">
                                <div class="input-field" id="inputEnvolvido" style="display: none;">
                                    <input type="text" name="envolvido" id="id_envolvido" />
                                    <label for="id_envolvido" class="active">Envolvido</label>
                                </div>
                            </div>

                            <div class="row l12 m12 s12 right-align">
                                <button class="btn waves-effect waves-light" id="id_clear_reload_filter" type="reset">Limpar
                                    <i class="material-icons left">cancel</i>
                                </button>
                                <button class="btn waves-effect waves-light" type="submit">Pesquisar
                                    <i class="material-icons left">search</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                {% if rats %}
                <table class="highlight responsive-table centered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo de Acidente</th>
                            <th>Local</th>
                            <th>Data e Hora</th>
                            <th>Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for rat in rats %}
                        <tr {% if rat.relatorio is None %}class="pendente"{% endif %}>
                            <td>{{ rat.id }}</td>
                            <td>{{ rat.tipoacidente }}</td>
                            <td>{{ rat.endereco.municipio }}, {{ rat.endereco.bairro }}, {{ rat.endereco.rua }}</td>
                            <td>{{ rat.dataocorrencia }}</td>
                            <td>
                                <a href="{% url 'rat:mostrar' id=rat.id %}" class="btn waves-effect waves-light btn-floating">
                                    <i class="material-icons right">description</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                    {% if rats.has_other_pages %}
                        <ul class="pagination center">
                            {% if rats.has_previous %}
                                <li class="waves-effect">
                                    <a href="{% my_url rats.previous_page_number 'pagina' request.GET.urlencode %}">
                                        <i class="material-icons">chevron_left</i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <a href="#!"><i class="material-icons">chevron_left</i></a>
                                </li>
                            {% endif %}

                            {% for num in rats.paginator.page_range %}
                                {% if rats.number == num %}
                                    <li class="active">
                                        <a href="#!">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class="waves-effect">
                                        <a href="{% my_url num 'pagina' request.GET.urlencode %}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if rats.has_next %}
                                <li class="waves-effect">
                                    <a href="{% my_url rats.next_page_number 'pagina' request.GET.urlencode %}">
                                        <i class="material-icons">chevron_right</i></a>
                                    </li>
                            {% else %}
                                <li class="disabled">
                                    <a href="#!"><i class="material-icons">chevron_right</i></a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}

                {% else %}
                    <p>Não existem RATs cadastradas.</p>
                {% endif %}
            </div>

            <div class="col l12 m12 s12">
                <div class="input-field row l12 m12 s12 left">
                    <button class="btn waves-effect waves-light" onclick="history.go(-1)">Voltar
                        <i class="material-icons left">arrow_back</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascript %}
<script>
$(document).ready(function(){
    inputEnvolvido = $("#inputEnvolvido");

    $("#fill_envolvido").change(() => {
        (inputEnvolvido.css("display") === "none") ? inputEnvolvido.css("display", "block") : inputEnvolvido.css("display", "none");
    });

    var buttonReset = $("#id_clear_reload_filter");

    buttonReset.attr("disabled", "");

    buttonReset.on("click", () => reload());

    function reload(){
        window.location = window.location.pathname;
    }

    if($(".chip").length){
        buttonReset.removeAttr("disabled");
    }
});
</script>
{% endblock javascript %}
{% endblock content %}
