{% extends "base/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'assets/css/leaflet.css' %}" />
    <script src="{% static 'assets/js/leaflet.js' %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
{% endblock head %}
{% block title %}Mapa{% endblock %}

{% block content %}
<div class="card darken-1 row l12 m12 s12">
    <div class="card-content text-darken-4 grey-text">
        <span class="card-title">Mapa de Ocorrências</span>

            <div class="card grey lighten-5">
                <div class="card-content white-text">
                    <span class="card-title black-text">
                        {% if filtros %}
                            {% for x, v in filtros.items %}
                                <div class="chip">
                                    {{ v }}
                                    <label>{{ x }}</label>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <span class="right">{% if ocorrencias|length > 1 %}{{ ocorrencias|length }} resultados{% else %}Nenhum resultado{% endif %}.</span>
                    </span>

                    <form method="GET">
                        <div class="row l12 m12 s12">
                            <div class="col l4 m12 s12">
                                <label>Cidade</label>
                                <select class="browser-default" name="municipio">
                                    <option value selected>---------</option>
                                    {% for municipio in municipios %}
                                        <option value="{{ municipio.codigo_ibge }}">{{ municipio }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col l4 m12 s12">
                                <label>Tipificação penal</label>
                                <select class="browser-default" name="infracao">
                                    <option value="" selected>---------</option>
                                    {% for infracao in infracoes %}
                                        <option value="{{ infracao.id }}">{{ infracao }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-field col l2 m12 s12">
                                <input type="text" id="id_data_inicial" class="datepicker" name="data_inicial" placeholder="dd/mm/aaaa" />
                                <label for="id_data_inicial" class="active">Data inicial</label>
                            </div>
                            <div class="input-field col l2 m12 s12">
                                <input type="text" id="id_data_final" class="datepicker" name="data_final" placeholder="dd/mm/aaaa" />
                                <label for="id_data_final" class="active">Data final</label>
                            </div>
                        </div>

                        <div class="row l12 m12 s12 right-align">
                            <button class="btn waves-effect waves-light" id="id_clear_reload_filter" type="reset">Limpar
                                <i class="material-icons left">cancel</i>
                            </button>
                            <button class="btn waves-effect waves-light" type="submit">Pesquisar
                                <i class="material-icons left">search</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            {% for ocorrencia in ocorrencias %}
            {% if ocorrencia.endereco.latitude == 0 %}
                {{ ocorrencia.id }}
            {%endif%}
            {% endfor %}
            <script>
                var coordenadas = [];
                {% for ocorrencia in ocorrencias %}
                    coordenadas.push([parseFloat("{{ ocorrencia.endereco.latitude }}".replace(",", ".")), parseFloat("{{ ocorrencia.endereco.longitude }}".replace(",", "."))], );
                {% endfor %}
            </script>
            <div class="row l12 m12 s12">
                <div id="map" style="width: 100%; height: calc(100vh - 19rem)"></div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
<script src="https://leaflet.github.io/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
<script src="{% static 'assets/js/leaflet-heat.js' %}"></script>
<script>
var map = L.map("map").setView([{{ cidade }}], 14);
var tiles = L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {attribution: `&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors`}).addTo(map);
// var heat = L.heatLayer(coordenadas, {radius: 10}).addTo(map);
map.zoomControl.setPosition('topright');
map.addControl(new L.Control.Fullscreen({
    title: {
        'false': 'Ver em Tela Cheia',
        'true': 'Fechar Tela Cheia'
    },
    position: 'topright'
}));


var markers = L.markerClusterGroup();
for (var i = 0; i < coordenadas.length; i++) {
    var a = coordenadas[i];
    var title = a[2];
    var marker = L.marker(new L.LatLng(a[0], a[1]), { title: title });
    marker.bindPopup(title);
    markers.on('clusterclick', function (a) {
        a.layer.zoomToBounds({padding: [20, 20]});
    });
    markers.addLayer(marker);
}

map.addLayer(markers);
</script>

{% block javascript %}
<script>
$(document).ready(function(){
    var buttonReset = $("#id_clear_reload_filter");

    buttonReset.attr("disabled", "");

    buttonReset.on("click", () => reload());

    function reload(){
        window.location = window.location.pathname;
    }

    if($(".chip").length){
        buttonReset.removeAttr("disabled");
    }
});
</script>
{% endblock javascript %}
{% endblock content %}