{% extends "rat/edits/base.html" %}

{% block title %}Editar Objeto {{ id }}{% endblock title %}

{% block content %}
<form id="edit-objeto">{% csrf_token %}
<input type="hidden" name="id_objeto" value="{{ id }}" />
<div class="col s12 m12 l12">
    <div class="row">
        <div class="card darken-1 col l12 m12 s12">
            <div class="card-content text-darken-4 grey-text">
                <div class="card-title">Editar Objeto &lt;{{ objeto.descricao.value }}></div>

                <div class="row">
                    <div class="input-field col l9 m6 s12">
                        <textarea class="materialize-textarea validate" id="{{ objeto.descricao.auto_id }}" name="{{ objeto.descricao.name }}" required>{{ objeto.descricao.value }}</textarea>
                        <label for="{{ objeto.descricao.auto_id }}" class="active">{{ objeto.descricao.label }}</label>
                    </div>
                    <div class="input-field col l3 m6 s12">
                        <input type="number" class="validate" id="{{ objeto.quantidade.auto_id }}" name="{{ objeto.quantidade.name }}" value="{{ objeto.quantidade.value }}" required>
                        <label for="{{ objeto.quantidade.auto_id }}" class="active">{{ objeto.quantidade.label }}</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input type="text" class="validate" id="{{ objeto.localconducao.auto_id }}" maxlength="100" name="{{ objeto.localconducao.name }}" value="{{ objeto.localconducao.value }}" required>
                        <label for="{{ objeto.localconducao.auto_id }}" class="active">{{ objeto.localconducao.label }}</label>
                    </div>
                </div>
            </div>
            
            <div class="col l6 m6 s6 right">
                <div class="input-field row">
                    <button class="btn waves-effect waves-light right" type="submit">Atualizar
                        <i class="material-icons right">check</i>
                    </button>
                    </form>
                </div>
            </div>
            <div class="col l6 m6 s6 left">
                <div class="input-field row">
                    <button class="btn waves-effect waves-light" onclick="window.close();">Cancelar
                        <i class="material-icons left">cancel</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $("#edit-objeto").submit(function(event){
        event.stopPropagation();
        $.ajax({
            type: "POST",
            url: "{% url 'rat:post_edit_objeto' %}",
            data: $(this).serialize(),
            success: (response) => {
                M.toast({html: response.message, classes: "green", completeCallback: callBack});
            },
            error: (response) => {
                var erros = jQuery.parseJSON(response.responseText);
                for(i in erros){
                    M.toast({html: erros[i], classes: "red"});
                }
            }
        });
        return false;
    });
});
</script>
{% endblock content %}
