{% extends "base/base.html" %}
{% load static %}

{% block title %}Companhias{% endblock %}

{% block content %}
<div class="col s12 m12 l12">
    <div class="row">
        <div class="card darken-1 col l12 m12 s12">
            <div class="card-content text-darken-4 grey-text">
                <span class="card-title">Companhias</span>

                <div class="right-align">
                    <a href="{% url 'guarnicao:adicionar_companhia' %}" class="waves-effect"><i class="material-icons right">add</i>Adicionar</a>
                </div>

                {% if companhias %}
                <table class="highlight responsive-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for companhia in companhias %}
                        <tr>
                            <td>{{ companhia.companhia }}</td>
                            <td>
                                <a href="#!" class="waves-effect"><i class="material-icons right">description</i>Visualizar</a>
                                <a href="{% url 'guarnicao:remover_companhia' id=companhia.id %}" class="waves-effect"><i class="material-icons right">delete</i>Remover</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        
                <div class="pagination">
                    <span class="step-links">
                        {% if companhias.has_previous %}
                            <a href="?pagina=1">« Primeira</a>
                            <a href="?pagina={{ companhias.previous_page_number }}">Anterior</a>
                        {% endif %}
                
                        <span class="current">
                            Página {{ companhias.number }} de {{ companhias.paginator.num_pages }}.
                        </span>
                
                        {% if companhias.has_next %}
                            <a href="?pagina={{ companhias.next_page_number }}">Próxima</a>
                            <a href="?pagina={{ companhias.paginator.num_pages }}">Última »</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                    <p>Não existem companhias cadastradas.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
