{% extends "base/base.html" %}
{% load static %}
{% load ropd_extras %}

{% block title %}Guarnições{% endblock title %}

{% block content %}
<style>
    .short-text { display: none; }

    @media (max-width: 450px) {
        .short-text { display: inline-block; }
        .full-text { display: none; }
    }

    table.highlight>tbody>tr.pendente:hover {
        background-color: #ffebee;
    }
    table.highlight>tbody>tr.pendente {
        color: #e53935;
    }
</style>
<div class="col s12 m12 l12">
    <div class="row">
        <div class="card darken-1 col l12 m12 s12">
            <div class="card-content text-darken-4 grey-text">
                <span class="card-title">Guarnições</span>

                <div class="divider"></div>

                <div class="card grey lighten-5">
                    <div class="card-content white-text">
                        <span class="card-title black-text">
                            <strong>Filtrar</strong>
                            {% if filtros %}
                                {% for x, v in filtros.items %}
                                    <div class="chip">
                                        {{ v }}
                                        <label>{{ x }}</label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if checkbox %}
                                {% for value in checkbox %}
                                    <div class="chip">{{ value }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>

                        <form method="GET">
                            <div class="row l12 m12 s12">
                                <div class="col l3 m6 s12">
                                    <label>Status</label>
                                    <select class="browser-default" name="status">
                                        <option value="" selected>---------</option>
                                        {% for x, y in status %}
                                            {% if x == request.GET.status %}
                                                <option value="{{ x }}" selected>{{ y }}</option>
                                            {% else %}
                                                <option value="{{ x }}">{{ y }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col l4 m12 s12">
                                    <label>Companhia</label>
                                    <select class="browser-default" name="companhia">
                                        <option value="" selected>---------</option>
                                        {% for companhia in companhias %}
                                            <option value="{{ companhia.id }}">{{ companhia }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-field col l2 m6 s6">
                                    <input type="text" id="id_data_abertura" class="datepicker" name="data_abertura" placeholder="dd/mm/aaaa" />
                                    <label for="id_data_abertura" class="active">Data de abertura</label>
                                </div>
                                <div class="input-field col l2 m6 s6">
                                    <input type="text" id="id_data_fechamento" class="datepicker" name="data_fechamento" placeholder="dd/mm/aaaa" />
                                    <label for="id_data_fechamento" class="active">Data de fechamento</label>
                                </div>
                                <div class="col l12 m12 s12">
                                    <label>
                                        <input type="checkbox" class="filled-in" id="fill_bloqueada" name="bloqueadas" />
                                        <span>Bloqueadas</span>
                                    </label>
                                </div>
                            </div>

                            <div class="row l12 m12 s12 right-align">
                                <button class="btn waves-effect waves-light" id="id_clear_reload_filter" type="reset">Limpar
                                    <i class="material-icons left">cancel</i>
                                </button>
                                <button class="btn waves-effect waves-light" type="submit">Pesquisar
                                    <i class="material-icons left">search</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                {% if guarnicoes %}
                <table class="highlight responsive-table centered">
                    <thead>
                        <tr>
                            <th>Comandante/CIA</th>
                            <th>Abertura</th>
                            <th>Fechamento</th>
                            <th>Relatório</th>
                            <th>Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for guarnicao in guarnicoes %}
                        <tr{% if guarnicao.datafechamento is None %} class="pendente"{% endif %}>
                            <td>{{ guarnicao.comandante }} - {{ guarnicao.companhia }}</td>
                            <td>
                                <span class="full-text">{{ guarnicao.dataabertura }}</span>
                                <span class="short-text center">{{ guarnicao.dataabertura|date:"d/m/Y" }} - {{ guarnicao.dataabertura|time }}</span>
                            </td>
                            <td>
                                <span class="full-text">{% if guarnicao.datafechamento is None %}Sem finalizar!{% else %}{{ guarnicao.datafechamento }}{% endif %}</span>
                                <span class="short-text center">{% if guarnicao.datafechamento is None %}Sem finalizar!{% else %}{{ guarnicao.datafechamento|date:"d/m/Y" }} - {{ guarnicao.datafechamento|time }}{% endif %}</span>
                            </td>
                            <td>{% if guarnicao.relatorio is None %}Sem finalizar!{% else %}{{ guarnicao.relatorio }}{% endif %}</td>
                            <td>
                                <a title="Visualizar" href="{% url 'guarnicao:visualizar_guarnicao' id=guarnicao.id %}" class="btn waves-effect waves-light btn-floating">
                                    <i class="material-icons right">description</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        
                {% if guarnicoes.has_other_pages %}
                    <ul class="pagination center">
                        {% if guarnicoes.has_previous %}
                            <li class="waves-effect">
                                <a href="{% my_url guarnicoes.previous_page_number 'pagina' request.GET.urlencode %}">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#!"><i class="material-icons">chevron_left</i></a>
                            </li>
                        {% endif %}

                        {% for num in guarnicoes.paginator.page_range %}
                            {% if guarnicoes.number == num %}
                                <li class="active">
                                    <a href="#!">{{ num }}</a>
                                </li>
                            {% else %}
                                <li class="waves-effect">
                                    <a href="{% my_url num 'pagina' request.GET.urlencode %}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if guarnicoes.has_next %}
                            <li class="waves-effect">
                                <a href="{% my_url guarnicoes.next_page_number 'pagina' request.GET.urlencode %}">
                                    <i class="material-icons">chevron_right</i></a>
                                </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#!"><i class="material-icons">chevron_right</i></a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% else %}
                    <p>Não existem guarnições.</p>
                {% endif %}
            </div>

            <div class="col l12 m12 s12">
                <div class="input-field row l12 m12 s12 left">
                    <button class="btn waves-effect waves-light" onclick="history.go(-1)">Voltar
                        <i class="material-icons left">arrow_back</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascript %}
<script>
$(document).ready(function(){
    var buttonReset = $("#id_clear_reload_filter");

    buttonReset.attr("disabled", "");

    buttonReset.on("click", () => reload());

    function reload(){
        window.location = window.location.pathname;
    }

    if($(".chip").length){
        buttonReset.removeAttr("disabled");
    }
});
</script>
{% endblock javascript %}
{% endblock content %}
