<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
Você está recebendo este e-mail porque solicitou uma redefinição de senha para sua conta de usuário no ROP-E.<br><br>

Ele pode ser ignorado com segurança se você não solicitou uma redefinição de senha.<br><br>

Informe o código abaixo no aplicativo para redefinir sua senha.<br>
<strong>{{ token }}</strong><br><br>

Seu usuário, caso você tenha esquecido: {{ matricula }}<br><br>

Equipe ROP-E.
</body>
</html>