<div class="row">
    <div class="col s12 l12 m12">
        <h5><strong>Drogas</strong></h5>
    </div>
</div>

<form id="droga-form">{% csrf_token %}
<input type="hidden" id="{{ drogaacessorio.acessoriosocorrencia.auto_id }}_droga" name="{{ drogaacessorio.acessoriosocorrencia.name }}" value="{{ acessoriosocorrencia }}" />
<div class="row">
    <div class="col l3 m3 s12">
        <label>{{ drogaacessorio.tipodroga.label }}</label>
        <select class="browser-default" name="{{ drogaacessorio.tipodroga.name }}" id="{{ drogaacessorio.tipodroga.auto_id }}">
            {% for opcao in drogaacessorio.tipodroga %}
                <option value="{{ opcao.data.value }}">{{ opcao.choice_label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col l3 m3 s12">
        <label>{{ drogaacessorio.armazenamentodroga.label }}</label>
        <select class="browser-default" name="{{ drogaacessorio.armazenamentodroga.name }}" id="{{ drogaacessorio.armazenamentodroga.auto_id }}">
            {% for opcao in drogaacessorio.armazenamentodroga %}
                <option value="{{ opcao.data.value }}">{{ opcao.choice_label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-field col l2 m3 s12">
        <input type="text" class="validate" id="{{ drogaacessorio.quantidade.auto_id }}_droga" name="{{ drogaacessorio.quantidade.name }}" required>
        <label for="{{ drogaacessorio.quantidade.auto_id }}_droga" class="active">{{ drogaacessorio.quantidade.label }}</label>
    </div>
    <div class="col l2 m3 s12">
        <label>{{ drogaacessorio.medida.label }}</label>
        <select class="browser-default" name="{{ drogaacessorio.medida.name }}" id="{{ drogaacessorio.medida.auto_id }}">
            {% for opcao in drogaacessorio.medida %}
                <option value="{{ opcao.data.value }}">{{ opcao.choice_label }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    <div class="col l2 m4 s12">
        <label>{{ drogaacessorio.localrecebedor.label }}</label>
        <select class="browser-default" name="{{ drogaacessorio.localrecebedor.name }}" id="{{ drogaacessorio.localrecebedor.auto_id }}_droga">
            {% for opcao in drogaacessorio.localrecebedor %}
                <option value="{{ opcao.data.value }}">{{ opcao.choice_label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-field col l2 m4 s12">
        <input type="text" class="validate" id="{{ agenterecebedor.nome_agente.auto_id }}_droga" maxlength="30" name="{{ agenterecebedor.nome_agente.name }}" required>
        <label for="{{ agenterecebedor.nome_agente.auto_id }}_droga" class="active">{{ agenterecebedor.nome_agente.label }}</label>
    </div>
    <div class="input-field col l2 m4 s12">
        <input type="text" class="validate" id="{{ agenterecebedor.cargo.auto_id }}_droga" maxlength="20" name="{{ agenterecebedor.cargo.name }}" required>
        <label for="{{ agenterecebedor.cargo.auto_id }}_droga" class="active">{{ agenterecebedor.cargo.label }}</label>
    </div>
    <div class="input-field col l6 m12 s12">
        <textarea class="materialize-textarea" id="{{ observacao.observacao.auto_id }}_droga" name="{{ observacao.observacao.name }}"></textarea>
        <label for="{{ observacao.observacao.auto_id }}_droga" class="active">{{ observacao.observacao.label }}</label>
    </div>
    <div class="col l12 m12 s12">
        <div class="input-field row l12 m12 s12">
            <button class="btn waves-effect waves-light right" type="submit">Adicionar
            <i class="material-icons left">add</i>
            </button>
        </div>
    </div>
</div>
</form>

{% block javascript %}
<script>
$(document).ready(function(){
    {% include 'ocorrencia/includes/js/drogas.js' %}
});
</script>
{% endblock javascript %}