{% extends "ocorrencia/edits/base.html" %}

{% block title %}Editar Munição {{ id }}{% endblock title %}

{% block content %}
<form id="edit-municao">{% csrf_token %}
<input type="hidden" name="id_municao" value="{{ id }}" />
<div class="col s12 m12 l12">
    <div class="row">
        <div class="card darken-1 col l12 m12 s12">
            <div class="card-content text-darken-4 grey-text">
                <div class="card-title">Editar Munição &lt;{% for opcao in municao.municao %}{% if opcao.data.value == municao.municao.value %}{{ opcao.choice_label }}{% endif %}{% endfor %}></div>

                <div class="row">
                    <div class="col l3 m3 s12">
                        <label>{{ municao.municao.label }}</label>
                        <select class="browser-default" name="{{ municao.municao.name }}" id="{{ municao.municao.auto_id }}">
                            {% for opcao in municao.municao %}
                                {% if opcao.data.value == municao.municao.value %}
                                    <option value="{{ opcao.data.value }}" selected>{{ opcao.choice_label }}</option>
                                {% else %}
                                    <option value="{{ opcao.data.value }}">{{ opcao.choice_label }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field col l2 m3 s12">
                        <input type="text" class="validate" id="{{ municao.quantidade.auto_id }}" name="{{ municao.quantidade.name }}" required value="{{ municao.quantidade.value }}">
                        <label for="{{ municao.quantidade.auto_id }}" class="active">{{ municao.quantidade.label }}</label>
                    </div>
                </div>
            </div>

            <div class="col l6 m6 s6 right">
                <div class="input-field row">
                    <button class="btn waves-effect waves-light right" type="submit">Atualizar
                        <i class="material-icons right">check</i>
                    </button>
                    </form>
                </div>
            </div>
            <div class="col l6 m6 s6 left">
                <div class="input-field row">
                    <button class="btn waves-effect waves-light" onclick="window.close();">Cancelar
                        <i class="material-icons left">cancel</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $("#edit-municao").submit(function(event){
        event.stopPropagation();
        $.ajax({
            type: "POST",
            url: "{% url 'acessoriosocorrencia:post_edit_municao' %}",
            data: $(this).serialize(),
            success: function(response){
                // alert(response.message);
                M.toast({html: response.message, classes: "green", completeCallback: callBack});
            },
            error: function(response){
                var erros = jQuery.parseJSON(response.responseText);
                for(i in erros){
                    // alert(erros[i]);
                    M.toast({html: erros[i], classes: "red"});
                }
            }
        });
        return false;
    });
});
</script>
{% endblock content %}
