{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel='stylesheet' href="{% static 'assets/css/materialize.min.css' %}">
        <style>
            #download { width: 30%; }
            @media only screen and (max-width : 992px) {
                header, main, footer {
                    padding-left: 0;
                }
                #download { width: 32%; }
                #android { width: 60% }
            }
            </style>
        <title>ROP-E - Download</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav class="#0d47a1 blue darken-4">
                <div class="navbar-fixed nav-wrapper">
                    <a href="{% url 'index' %}" class="brand-logo center">ROP-E</a>
                    <ul class="left">
                        <li>
                            <a href="{% url 'index' %}" class="waves-effect right">
                                <i class="material-icons left">arrow_back</i>Voltar
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="row" style="background-color: #eeeeef;">
            <div class="section">
                <div class="container">
                    <h1 class="center">Download ROP-E</h1>
                    <div class="row center">
                        <img src="{% static 'assets/images/android-phone.png' %}" id="android" class="responsive-img" />
                    </div>
                    <div class="row center">
                        <a href='https://play.google.com/store/apps/details?id=org.ifbaiano.rop_e.rope&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                            <img class="responsive-img" alt='Disponível no Google Play' id="download" src='https://play.google.com/intl/en_us/badges/static/images/badges/pt-br_badge_web_generic.png'/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <a id="sobre" class="center-align" style="padding:4px;">
                <h4>SOBRE</h4>
            </a>
            <div class="row">
                <div class="col s6 l6 m6">
                    <p class="flow-text light justify">O Sistema ROP-E (Relatório de Ocorrência Policial Eletrônico) é uma ferramenta desenvolvida por meio da parceria entre o Instituto Federal Baiano Campus Guanambi (IF Baiano), através dos docentes e alunos do curso de Análise de Desenvolvimento de Sistemas (ADS), juntamente com o 17° Batalhão de Polícia Militar da Bahia (17° BPM). Com o objetivo de proporcionar maior agilidade e facilitar a rastreabilidade das ocorrências policiais, o ROP-E poderá contribuir com as ações de segurança pública de Guanambi e toda a região.</p>
                </div>

                <div class="valign-wrapper col s6 l6 m6">
				    <img src="{% static 'assets/images/sobre.jpg' %}" class="responsive-img" />
                </div>
            </div>


            <div class="row">			
				<div class="col s12 m6">
		        	<div>
                        <span class="center light-blue-text">
                            <h2><i class="material-icons">build</i></h2>
                            <h5>DESENVOLVEDORES</h5>
                        </span>
                        
                        <p class="light center" style="font-size: 18px;">
                            <i>Prof.</i> CLEYTON FÁBIO LEITE BATISTA<br>
                            <i>Prof.</i> FABIO DOS SANTOS LIMA<br>
                            DJALMA SANTANA MALTA NETO<br>
                            GABRIEL RODRIGUES BARBOSA LOBO<br>
                            HIAGO FAGUNDES COUTO
                        </p>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div>
                        <span class="center light-blue-text">
                            <h2><i class="material-icons">settings</i></h2>
                            <h5>COLABORADORES</h5>
                        </span>
                        
                        <p class="light center" style="font-size: 18px;">
                            <i>CB PM</i> ANDERSON DE ALMEIDA VIEIRA<br>
                            <i>TEN CEL</i> ARTHUR MASCARENHAS FERNANDES<br>
                            <i>CAP PM</i> LUIS EXPEDITO FONSECA FERNANDES<br>
                            <i>SD PM</i> OSEIAS UELDES DA SILVA SANTOS
                        </p>
                    </div>
                </div>
        </div>
        
        <script src="{% static 'assets/js/materialize.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    </body>
 </html>